
body {
	background-color: #9A1E1E;
	margin: 50px 50px 50px 50px
}

h1 {
	background-image: url("/images/cans.jpg");
	background-size: 100px, 200px;
	border: 1px solid #050737;
	box-shadow: 10px 10px 5px black;
	color: #050737;
	font-family: "impact";
	padding: 10px;
	text-align: center;
}

.lastTitle {
	color: black;
}

.intro {
	font-family: bookman;
	margin-left: 150px;
	margin-right: 150px;
	padding-bottom: 10px;
	padding-top: 20px;
	text-indent: 25px;
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.beers {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

ul a {
	background-image: url("/images/beericon2.png");
	background-size: 60px, 60px;
	background-repeat: no-repeat;
	background-position: center;
	border-style: double;
	border-width: 5px;
	padding: 40px;
	font-family: "impact";
	font-size: 150%;
 	display: flex;
	justify-content: center;
}

ul a:link {
	color: #050737; 
}

ul a:visited {
	color: #050737;
}

ul a:hover {
	color: #8D8D8D;
}

.review {
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.review-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 50px;
}

h4 {
	font-family: bookman;
	text-align: center;
	text-decoration: underline;
}

img {
	border: 1px solid white;
	display: block;
	height: auto;
	margin: auto;
	width: 30%;
}

.tags {
	font-size: 80%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tags a:link {
	color: black;
}

.tags a:visited {
	color: black;
}

.tags a:hover {
	color: yellow;
}

.button {
	border-radius: 4px;
	font-size: 10px;
}

.tagPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home:before {
	content: url("images/brokenbottle.png");
	margin-right: 5px;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.home a:link {
	color: black;
}

.home a:visited {
	color: black;
}

.home a:hover {
	color: yellow;
}

