
body {
	background-color: brown;
}

h1 {
	background-image: url("/images/cans.jpg");
	background-size: 100px, 200px;
	border: 1px solid black;
	box-shadow: 10px 10px 5px black;
	font-family: "impact";
	margin: 50px;
	padding: 10px;
	text-align: center;
}

h4 {
	font-style: italic;
	text-align: center;
	text-decoration: underline;
}

p {
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 150px;
	margin-right: 150px;
	text-indent: 25px;
}

img {
	display: block;
	height: auto;
	margin: auto;
	width: 30%;
}

.links {
	background-image: url("/images/broke.jpg");
	background-size: 200px, 200px;
	background-repeat: no-repeat;
	background-position: center;
}

ul a {
	font-family: "impact";
	font-size: 150%;
 	display: flex;
	justify-content: center;
}

ul a:link {
	color: #050737; 
}

ul a:visited {
	color: #050737;
}

ul a:hover {
	color: red;
}